.coaches {
  padding: 206px;


  @include vp-1199 {
    padding: 60px;
  }


  @include vp-767 {
    padding: 30px;
  }
}

.coaches__wrapper {
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  @include vp-1199 {
    align-items: center;
  }

  & h2 {
    font-family: $ff-alumni;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    color: #102654;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
    }
  }
}

.coaches__wrapper-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.coaches__list {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
}

.coaches__item {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;

  & h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: $ff-roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
    z-index: 1;
  }

  &:hover {
    & h3 {
      top: 0;
    }

    .coaches__card {
      display: block;
    }
  }
}

.coaches__card {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  background: rgba(16, 38, 84, 0.89);
  padding: 57px;

  & span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #b6bdcc;
    text-align: center;
  }
}

.coaches__card-list {
  padding: 0;
}

.coaches__card-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}
