.coaches {
  padding: 46px 0 139px;


  @include vp-1199 {
    padding: 0 30px 100px;
  }


  @include vp-767 {
    padding: 0 0 70px;
  }
}

.coaches__wrapper-btn-list {
  max-width: 1500px;
  padding: 0 70px;
  position: relative;


  @include vp-1199 {
    width: 100%;
  }

  @include vp-767 {
    padding: 0 47px;
  }
}

.coaches__wrapper {
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  @include vp-1199 {
    align-items: center;
  }

  & h2 {
    font-family: $ff-alumni;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    color: #102654;
    width: 1160px;
    margin: 0 auto 48px;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      width: auto;
      margin: 2px auto 30px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      margin: 15px auto 42px;
    }
  }
}

.coaches__wrapper-list {
  display: flex;
  margin: 0 auto;
  padding: 0;
  max-width: 1160px;
}

.coaches__list {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
}

.coaches__item {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  height: auto;

  & img {
    background-color: #b6bdcc;

    @include vp-1199 {
      aspect-ratio: 268/294;
      width: 100%;
    }

    @include vp-767 {
      aspect-ratio: 226/274;
    }
  }

  & h3 {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
    font-family: $ff-roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
    z-index: 1;
  }
}

.coaches__item:hover,
.coaches__item:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  & h3 {
    margin: 0;
    top: 0;
    position: relative;
    bottom: auto;
    left: auto;
    transform: none;
    text-align: center;
  }

  & img {
    position: absolute;
    z-index: -1;
  }

  .coaches__card-wrapper {
    background: rgba(16, 38, 84, 0.89);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 53px 45px 30px 50px;
    overflow: auto;
    aspect-ratio: 260/264;

    @include vp-1199 {
      padding-top: 50px;
    }

    @include vp-767 {
      padding: 40px 30px 20px 30px;
    }
  }

  .coaches__card {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    height: 100%;

    @include vp-767 {
      padding: 0;
    }

    & span {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #b6bdcc;
      text-align: center;
      margin-right: 5px;
      margin-bottom: 30px;

      @include vp-1199 {
        margin-right: 12px;
        margin-bottom: 30px;
      }

      @include vp-767 {
        margin-right: 0;
      }
    }

    .coaches__card-item {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #ffffff;
      margin: 0;
      padding: 0;
      list-style: disc;
    }
  }

  .coaches__card-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0;
    gap: 13px;
    overflow: auto;
    padding-left: 20px;
  }
}

.coaches__card {
  display: none;
}
