.main__desc {
  padding: 120px 103px;
}

.main__desc-container {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  & img {
    height: fit-content;
  }

  & video {
    position: absolute;
    bottom: 0;
  }
}

.main__desc-text {
  max-width: 355px;
  padding: 50px 20px 150px 60px;

  & h2 {
    font-family: $ff-alumni;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.03em;
    color: #102654;
  }
}
